/*----------------------------- GENERAL STYLING ------------------------------*/

h2 {
  text-align: center;
  margin-bottom: 20px;
}

/*------------------------------ TABLE STYLING -------------------------------*/

.table {
  width: 80%;
  margin: 50px auto;
}

tr:nth-of-type(odd){background-color: #f4f4f4}
#tableBottom {font-weight: bold}

/*------------------------------- FORM STYLING -------------------------------*/

form {text-align: center}
form label {position: absolute}
form input {margin-left: 11em}
