<table class="table" ng-model="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Employee ID</th>
      <th>Job Title</th>
      <th>Salary</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in table.data">
      <td>{{ item.first_name }}</td>
      <td>{{ item.last_name }}</td>
      <td>{{ item.employee_id }}</td>
      <td>{{ item.job_title }}</td>
      <td>{{ item.salary }}</td>
    </tr>
    <tr id="tableBottom">
      <td></td>
      <td></td>
      <td></td>
      <td>Total Monthly Expenditures</td>
      <td></td>
    </tr>
  </tbody>
</table>
